<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
   		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
   		<property name="hibernate.connection.url">jdbc:mysql://localhost/residentor</property>
   		<property name="hibernate.connection.username">root</property>
   		<property name="hibernate.connection.password">hierba artificial</property>
   		<property name="hibernate.connection.pool_size">1</property>
   		
   		<property name="hibernate.current_session_context_class">thread</property>
   		<mapping class="com.Eu.model.Persona"/>
   		<mapping class="com.Eu.model.Empleado"/>
   		<mapping class="com.Eu.model.Interno"/>
   		<mapping class="com.Eu.model.Observacion"/>
   		<mapping class="com.Eu.model.Estancia"/>
   		<mapping class="com.Eu.model.Interno_observacion"/>
   		<mapping class="com.Eu.model.Interno_estancia"/>
   		<mapping class="com.Eu.model.Contrato"/>
   		<mapping class="com.Eu.model.Empleado_contrato"/>
   		<mapping class="com.Eu.model.Tipo_contrato"/>
   		<mapping class="com.Eu.model.Categoria"/>
   		<mapping class="com.Eu.model.Jornada"/>
   		<mapping class="com.Eu.model.Empleado_contrato"/>
   		<mapping class="com.Eu.model.Empleado_jornada"/>
   		
	</session-factory>
</hibernate-configuration>